@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  font-family: Michroma;
}

p {
  color: aquamarine;
}

body {
  background: linear-gradient(90deg, #386571 0%, #ffffff 100%);
}

.nav-link {
  color: aqua;
}

.navbar-nav .nav-link.active {
  color: rgb(184, 41, 41);
}

.navbar-brand img {
  width: 2em;
}

.navbar-toggler {
  background-color: rgb(136, 136, 136);
}

.sidebar {
  color: blueviolet;
  background: linear-gradient(270deg, #386571 0%, #ffffff 100%);
}

.card {
  box-shadow: 5px 5px 10px 4px #000000;
  animation: myAnim 2s ease 0s 1 normal forwards;
  background-color: #c0dfe7;
}

.card a {
  text-decoration: none;
  color: rgb(0, 99, 66);
}

.slideText,
.footer-text {
  color: red;
  margin: auto auto;
}

footer,
.btn-primary {
  background: linear-gradient(270deg, #386571 0%, #ffffff 100%);
}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-anim {
  animation: help-phone 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}

@keyframes help-phone {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
